[submodule "src/MPAS-Model"]
   path = src/MPAS-Model
   url = https://github.com/robertmullis/MPAS-Model
   branch = feature/mom6_coupling_scotch
[submodule "src/MOM6_interface/MOM6"]
   path = src/MOM6_interface/MOM6
   url = https://github.com/NCAR/MOM6.git
   branch = dev/ncar
[submodule "src/CDEPS"]
   path = src/CDEPS
   url = https://github.com/uturuncoglu/CDEPS
   branch = feature/esmx_build
[submodule "src/CMEPS-interface/CMEPS"]
   path = src/CMEPS-interface/CMEPS
   url = https://github.com/uturuncoglu/CMEPS
   branch = feature/esmx_build
